* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

header {
	background-color: #FFFFFF;
	width: 960px;
	height: 100px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	margin: auto;
}

#background {
	background-image: url(../images/tree_bark.png);
}

#mainBio {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif
}

nav {
	float: right;
	display: inline-block;
	width: 27%;
	height: 20%;
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 40px;
}

h1 {
	font-size: 34px;
}

#navAbout, #navPort, #navCon {
	text-decoration: none;
	color: #777777;
	padding: 0px 10px;
	font-size: 18px;
}	

#navAbout, #navPort {
	border-right: 2px solid #EFEFEF;
}


#nameBanner {
	position: absolute;
	height: 90%;
	padding: 25px 3%;
	left: 0px;
	bottom: 0px;
	background-color: #0BADA7;
	color: #FFFFFF;
}

.divLine {
	color: #777777;
	height: 3px;
	background-color: #777777;
}

#aboutMe {
	margin-top: 0px;
	height: 100px;
	width: 100%;
	color: #0BADA7;
	background-color: #FFFFFF;
}

section {
	width: 650px;
	background-color: #FFFFFF;
	margin-left: 16.7%
}

#adamImage {
	display: inline-block;
	height: 15%;
	width: 25%;
}

p {
	display: inline-block;
}

#links {
	float: right;
}

